@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hwb(0 100% 0%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hwb(325 8% 43%);
    --foreground: hsl(254, 38%, 25%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;:root {
    --foreground: #000; /* Black text */
    --background: pink; /* Pink background */
  }
  
  element {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
  
}
